@{ 
    ViewBag.Title = "Login";
}
<form action="~/Home/Login" method="post">
    <p>Username: <input type="text" name="userName" value="" placeholder="Enter Username"/></p>
    <p>Password: <input type="password" name="password" value="" placeholder="Enter Password"/></p>
    <input type="submit" name="submit" value="Login" />
</form>
